
DJANGO_SECRET_KEY=change-me-to-a-very-long-secure-random-string-in-production
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com,localhost,127.0.0.1


CORS_ALLOWED_ORIGINS=https://yourdomain.com,https://www.yourdomain.com


POSTGRES_DB=orbitflow
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-to-a-secure-password


GUNICORN_WORKERS=4
GUNICORN_THREADS=2


CELERY_CONCURRENCY=2

FRONTEND_PORT=80
